<ion-view title="Angelus" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="angelus-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">V.The Angel of the Lord declared unto Mary.</p>

      <p style="color:#000000;font-size:23px;">R. And she conceived of the Holy Spirit.</p>

      <p style="color:#000000;font-size:23px;">Hail Mary, full of grace, The Lord is with Thee; Blessed art thou among women, And blessed is the fruit of thy womb, Jesus. Holy Mary, Mother of God, Pray for us sinners, Now and at the hour of our death. Amen.</p>

      <p style="color:#000000;font-size:23px;">V. Behold the handmaid of the Lord.</p>

      <p style="color:#000000;font-size:23px;">R. Be it done to me according to thy word.</p>

      <p style="color:#000000;font-size:23px;">Hail Mary. . .</p>

      <p style="color:#000000;font-size:23px;">V. And the Word was made flesh</p>

      <p style="color:#000000;font-size:23px;">R. And dwelt among us.</p>

      <p style="color:#000000;font-size:23px;">Hail Mary. . .</p>

      <p style="color:#000000;font-size:23px;">V. Pray for us, O holy Mother of God</p>

      <p style="color:#000000;font-size:23px;">R. That we may be made worthy of the promises of Christ.</p>

      <p style="color:#000000;font-size:23px;">Let us pray, Pour forth, we beseech Thee, O Lord, Thy grace into our hearts, that we to whom the Incarnation of Christ Thy Son was made known by the message of an angel, may by His Passion and Cross be brought to the glory of His Resurrection. Through
        the same Christ Our Lord. Amen.</p>
    </div>
  </ion-content>
</ion-view>