<ion-view title="Hail Holy Queen" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="hailHolyQueen-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Hail, Holy Queen, Mother of mercy, our life, our sweetness and our hope. To thee do we cry, poor banished children of Eve: to thee do we send up our sighs, mourning and weeping in this valley of tears. Turn then, most gracious Advocate, thine eyes
        of mercy toward us, and after this our exile, show unto us the blessed fruit of thy womb, Jesus. O clement, O loving, O sweet Virgin Mary! Amen.</p>
    </div>
  </ion-content>
</ion-view>