<ion-view title="Morning Offering" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="morningOffering-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Dear Lord, I do not know what will happen to me today. I only know that nothing will happen that was not foreseen by You, and directed to my greater good from all eternity. I adore Your holy and unfathomable plans, and submit to them with all my
        heart for love of You, the Pope, and the Immaculate Heart of Mary. Amen.</p>
    </div>
  </ion-content>
</ion-view>