<ion-view title="Our Father" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="ourFather-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Our Father,</p>

      <p style="color:#000000;font-size:23px;">Who art in heaven, hallowed be Thy name; Thy kingdom come; Thy will be done on earth as it is in heaven. Give us this day our daily bread; and forgive us our trespasses as we forgive those who trespass against us; and lead us not into temptation,
        but deliver us from evil. Amen.</p>
    </div>
  </ion-content>
</ion-view>