<ion-view title="Prayer List" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="prayerList-list1" class="manual-list-fullwidth">
      <ion-item id="prayerList-list-item4" ui-sref="theApostlesCreed()">The Apostles Creed</ion-item>
      <ion-item id="prayerList-list-item5" ui-sref="ourFather()">Our Father</ion-item>
      <ion-item id="prayerList-list-item6" ui-sref="hailMary()">Hail Mary</ion-item>
      <ion-item id="prayerList-list-item7" ui-sref="gloryBe()">Glory Be</ion-item>
      <ion-item id="prayerList-list-item8" ui-sref="angelus()">Angelus</ion-item>
      <ion-item id="prayerList-list-item9" ui-sref="morningOffering()">Morning Offering</ion-item>
      <ion-item id="prayerList-list-item10" ui-sref="hailHolyQueen()">Hail Holy Queen</ion-item>
      <ion-item id="prayerList-list-item11" ui-sref="guardianAngelPrayer()">Guardian Angel Prayer</ion-item>
      <ion-item id="prayerList-list-item12" ui-sref="graceBeforeMeals()">Grace Before Meals</ion-item>
      <ion-item id="prayerList-list-item13" ui-sref="thanksgivingAfterMeals()">Thanksgiving After Meals</ion-item>
    </ion-list>
  </ion-content>
</ion-view>