<ion-view title="Thanksgiving After Meals" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="thanksgivingAfterMeals-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">We give Thee thanks for all Thy benefits, O Almighty God, who livest and reignest world without end. Amen. May the souls of the faithful departed, through the mercy of God, rest in peace. Amen</p>
    </div>
  </ion-content>
</ion-view>